.FriendCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  border-radius: 6px;
  box-shadow: 0 0 2px rgba(24, 24, 24, 0.45);
}
.FriendCard img {
  width: 100px;
  border-radius: 100%;
}
