.App {
  color: rgb(24, 24, 24);
  display: flex;
  justify-content: space-between;
}

.App_messages {
  padding: 20px;
  width: 400px;
  flex-grow: 2;
}
.App__friends__title {
}
.App__friends {
  gap: 10px;
  flex-grow: 1;
  margin-left: 20px;
  /* border: 1px black solid; */
}
